{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<br/>
<h5>Døgnåpen telefon til Giftsentralen: 22 59 13 00 </h5>
<address>
    <strong>Giftsentralen:</strong>   <a href="https://helsenorge.no/Giftinformasjon">Giftsentralen</a><br/>
    <strong>Giftsentralen om Sopp:</strong>    <a href="https://helsenorge.no/Giftinformasjon/tema-sopp">Giftsentralen om Sopp</a>
</address>
<address>
    <strong>Sopp og Nyttevekstforbundet:</strong>   <a href="http://www.soppognyttevekster.no/">Sopp og Nyttevekstforbundet</a><br/>
    <strong>Soppkontroll:</strong>  <a href="http://www.soppognyttevekster.no/soppkontroll/">Soppkontroll</a>
</address>

<address>
    <strong>Kontakt utvikler av tjenesten:</strong>   <a href="mailto:grantern@gmail.com">grantern@gmail.com</a><br />
</address>

{% endblock %}
