{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AiSopp</h1>
    <p class="lead">
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
    <p><a href="/about" class="btn btn-success btn-large">Les mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Soppregister</h2>
        <p>
            Jeg har til nå analysert over 80 av de vanligste soppene du kan forvente å finne.<br />
            Jeg vil kontinuerlig legge til nye sopper samt forbedre identifiseringen.<br />
            Jo mer tjenesten blir brukt dess bedre vil den bli til å gi deg riktig svar.
        </p>
        <p><a class="btn btn-success" href="/oversikt/all">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Identifisering</h2>
        <p>Last opp et bilde og la tjenesten forsøke å identifisere soppen.</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">Velg bilde</label>
                <input type="file" class="form-control-file" name="file" id="file" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Velg ett bilde av en sopp du ønsker å teste tjenesten med. Tjenesten støtter kun formatet jpg/jpeg</small>
            </div>
            <button type="submit" class="btn btn-success">Analyser &raquo;</button>
        </form>
        
        <table class="table">
            <tr>
                <th>Navn</th>
                <th>Rangering</th>
            </tr>
            {% for name, hitrate, localname, risk in results %}
            <tr>
                {% if risk == "0" %}
                <td class="alert alert-success" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                <td class="alert alert-success" role="alert">{{ ('%.2f') % hitrate }}</td>

                {% elif risk == "1" %}
                <td class="alert alert-warning" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                <td class="alert alert-warning" role="alert">{{ ('%.2f') % hitrate }}</td>

                {% elif risk == "2" %}
                <td class="alert alert-danger" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                <td class="alert alert-danger" role="alert">{{ ('%.2f') % hitrate }}</td>

                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <h5><a href="/explain">Les mer</a> om hvordan best bruke og forstå hva den forteller deg her.</h5>
    </div>
    <div class="col-md-4">
        <h2>Råd for soppsankere</h2>
        <p>
            Her er noen gode råd før du går ut i skogen og leter etter sopp.
        </p>
        <p><a class="btn btn-success" href="/tips">Les mer &raquo;</a></p>
    </div>
</div>

{% endblock %}
