{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AiSopp</h1>
    <p class="lead">
        AiSopp er tjeneste som skal gjøre det enklere for deg som har lyst til å prøve deg som sopp-plukker.<br />
        Ved å ta i bruk maskinlæring og avansert bildeanalyse så gjør vi det enklere og sikrere for deg når du lurer på hva slags sopp det er du ser.
    </p>
    <p><a href="/about" class="btn btn-primary btn-large">Les mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sopp</h2>
        <p>
            Vi har til nå analysert over 80 av de vanligste soppene du kan forvente å finne.<br />
            Vi vil kontinuerlig legge til nye sopper samt forbedre identifiseringen.<br />
            Jo mer tjenesten blir brukt dess bedre vil den bli til å gi deg riktig svar.
        </p>
        <p><a class="btn btn-default" href="/oversikt/all">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Identifisering</h2>
        <p>Last opp et bilde og la tjenesten forsøke å identifisere soppen.</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">Velg bilde</label>
                <input type="file" class="form-control-file" name="file" id="file" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Velg ett bilde av en sopp du ønsker å teste tjenesten med. Tjenesten støtter kun formatet jpg/jpeg</small>
            </div>
            <button type="submit" class="btn btn-primary">Analyser</button>
        </form>
        
        <table class="table">
            <tr>
                <th>Navn</th>
                <th>Rangering</th>
            </tr>
            {% for name, hitrate, localname, risk in results %}
                <tr>
                {% if risk == "0" %}
                    <td class="alert alert-success" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                    <td class="alert alert-success" role="alert">{{ ('%.2f') % hitrate }}</td>
            
                {% elif risk == "1" %}
                    <td class="alert alert-warning" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                    <td class="alert alert-warning" role="alert">{{ ('%.2f') % hitrate }}</td>
            
                {% elif risk == "2" %}
                    <td class="alert alert-danger" role="alert"><a href="/sopp/{{ name }}">{{ localname }} - ({{ name }})</a></td>
                    <td class="alert alert-danger" role="alert">{{ ('%.2f') % hitrate }}</td>

            {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <h2>Android og IOS</h2>
        <p>
            Snart kan du laste ned en app til din telefon og ta turen ut i skogen for å finne trygge og gode sopper.<br />
            Følg med her for når din app blir tilgjengelig for din telefon.
        </p>
        <p><a class="btn btn-default" href="/about">Les mer &raquo;</a></p>
    </div>
</div>

{% endblock %}
