{% extends "layout.html" %}

{% block content %}

<div style="position:fixed">
    <a class="btn btn-success" role="button" aria-pressed="true" href="/oversikt/edible">
        Spiselige
    </a>
    <a class="btn btn-warning" role="button" aria-pressed="true" href="/oversikt/notedible">
        Uspiselige
    </a>
    <a class="btn btn-danger" role="button" aria-pressed="true" href="/oversikt/poisonous">
        Giftige
    </a>
    <a class="btn btn-primary" role="button" aria-pressed="true" href="/oversikt/all">
        Alle
    </a>
</div>
<div>
    <br/>
    <br/>
    <h2>Oversikt</h2>
    <h5>Liste over alle sopper som er registrert i systemet.</h5>
</div>
<div class="row">
    
    {% for sopp in data %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <a href="/sopp/{{ sopp['name'] }}">
                    <img class="img-responsive" src="/static/images/{{ sopp['images'][0] }}" />
                </a>
                <span class="card-title">{{ sopp['local_name'] }}</span>
            </div>
            <div class="card-content">
                <p><b>Latin:</b> {{ sopp['name'] }} <br/>
                    <b>Beskrivelse:</b> {{ sopp['description'][0:150] }}...</p>
            </div>
            <div class="card-action">
                <a href="/sopp/{{ sopp['name'] }}">Les mer</a>
            </div>
        </div>
    </div> <!-- class col-md-4 -->
        {% endfor %}
    </div> <!-- class row -->        

{% endblock %}
