{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<br />
<ul>
    <li>Spis kun sopp du er hundre prosent sikker på</li>
    <li>Gå på soppkurs</li>
    <li>Lær deg de viktigste giftsoppene</li>
    <li>Kjenn til de vanligste forvekslingene</li>
    <li>Plukk én og én sopp (spesielt viktig ved plukking av traktkantarell). Studer soppen før du legger den i kurven, og på nytt ved rensing.</li>
    <li>Hold ulike sopparter fra hverandre i kurven. Bruk papirposer eller plastbokser</li>
    <li>Brukt oppdatert og kvalitetssikret sopplitteratur.</li>
    <li>Lær deg norsk soppflora. Soppfloraen kan variere stort mellom ulike land og verdensdeler.</li>
    <li>Bruk soppkontrollene</li>
    <li>Spis bare sopp av god kvalitet. Kast all markspist eller råtten sopp.</li>
    <li>Hvis uhellet er ute: Ring 22 59 13 00</li>
</ul> 

{% endblock %}